/* 320 x 568 */

*{
    margin:0;
    padding: 0;
    /* overflow: hidden; */
}



#home{
    /* background-color: rgb(109, 155, 225); */
    height: 70vh;
    display: flex;justify-content: center;align-items: center;
    overflow: hidden;
    padding: 2%;
    margin-top: 60px;
}
#home-center{   
    /* background-color: brown; */
    display: flex;
    height: 70vh;align-items: center;
    position: relative;
    overflow: visible;
    transform: translate(-15%,0%);

}
#home-center-image{
    width: clamp(250px,40vw,400px);
    /* min-width: 300px; */
    /* transform: translate(-30%,-10%); */

}


.home-upper-text{
    position: absolute;
}
.home-u-text-1{
    position: absolute;
    transform:translate(-2%,-900%);
    font-size:  clamp(11px,2vw,20px);
    /* font-size: 2vw; */
    /* font-size: 20px; */
    /* font-size: 3vwpx; */
    width: 100vw;
    font-family: 'Bebas Neue', cursive;

}


.home-u-text-2{
    z-index: 20000;
    position: absolute;
    color: #00d029;
    width: 200px;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-weight: 900;
    /* background-color: #00C805; */
    transform:translate(5%,-800%);
    font-size:  clamp(11px,2vw,20px);

    /* font-size: 4vw; */
}
@media screen and (max-width: 480px){
    .home-u-text-1{
        transform:translate(5vw,-900%);
    }
    .home-u-text-2{
        transform:translate(15%,-800%);

    }
}

.home-l-text{
    position: absolute;
    font-size: clamp;
    transform:translate(280%,+270%);
    font-family: 'Bebas Neue', cursive;
    /* font-size: 25px; */
    /* font-size: 16px; */
    /* font-size: 2.5vw; */
    font-size: clamp(16px,2.5vw,25px);
}




.home-center-text{
    position: absolute;width: 100%;
    /* background-color: aqua; */
    font-family: 'Bebas Neue', cursive;
    font-size:  clamp(50px,8vw,80px);
    transform:translate(32%,30%);
    display: flex;
    z-index: 3;color: aliceblue;
    /* background-color: #00C805; */
}
.home-text-2{
    margin-left: 3%;color: black;
}

#playArea {
    position: absolute;
    background: #e1ebdcff; 
    z-index: -1000;
    /* overflow: hidden; */
 }



 .home-register{
    
    position: absolute;
    bottom: 0px;    
    left: 15%;
    z-index: 20000;
    width: 100%;
    display: flex;
    justify-content: center;
    /* font-family: 'Bebas Neue', cursive; */
    /* background-color: #00C805; */

 }
.home-register button{

    margin : 0 10px;

    border: #101010 solid 1px;
    width: 130px;
    height: 40px;
    font-size:  120%;
    font-family: 'Bebas Neue', cursive;
    display: flex;justify-content: center;align-items: center;
}





 /* ayush */
 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root{
    --white: #e1ebdcff;
    --black:#101010;
    --opacity-green:rgb(24, 186, 48);
    --primary-color:#00C805;
}
body{
    /* background-color:var(--white); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

/* p::selection{
    color: red;
} */

/* nav  */

#nav{
    /* position: fixed; */
    z-index: 1000;
    overflow: hidden;
}
.nav-container{
    background-color: aliceblue;
    height: 60px;
    z-index: 99;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid;
}

.nav-slide{
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: aliceblue;
    width: 50vw;
    transition: 0.4s;
    /* display: none; */
    transform: translateX(50vw);
    z-index: 99999;

}

.nav-slide.is-active{
    /* display: flex; */
    margin-top: 60px;    
    transform: translateX(0vw);
}

.nav-menu{
    position: absolute;
    left: 200px;
    display: none;
    justify-self: center;
    /* background-color: #636963; */
    /* width: 100%; */
    align-items: end;
    justify-content: flex-end;
    /* align-content: space-between; */
    /* flex-direction: row; */
}
.nav-menu div{
    border: 1px solid;
    margin: 0 5px;
}
.nav-menu a{
    font-size: 2    vw;

    text-decoration:none;
}


.nav-logo{
    /* background-color: #00C805; */
    border: 1px black solid;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-ham{
    /* justify-self: flex-end; */
    /* display: block; */
    position: relative;
    margin-right: 15px;

}
.nav-ham span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.nav-ham.is-active:hover span{
    background-color: #00d029;
}



.nav-ham span:nth-child(2){
    transition: 0.8s ease-in-out;
}

.nav-ham.is-active span:nth-child(1){
    transform:translate(0px,-2px) rotate(45deg)
}

.nav-ham.is-active span:nth-child(2){
    opacity: 0;
    /* background-color: #00C805; */
    transform:translate(15px);
    /* background-color: #101010; */
}
.nav-ham.is-active span:nth-child(3){
    transform:translate(-3px,3px) rotate(-45deg)
}

@media(min-width:768px){
    .nav-ham{
        display: none;
    }
    .nav-menu{
        display: flex;
    }
}











/* /highlights  */
/* .HL-container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 50% 50%;
}
.HL-icon{
    height: 100%;
    grid-row: 2 span;
    margin: 15px;       
}

.HL-box{
    border : solid 1px;
    display: grid;  
    grid-template-columns: auto auto;
    margin: 4%;
    justify-content: left;
}

.HL-icon img{
    width: 100%;
    max-width: 50px;
    height: auto;    
}

.HL-box-3{
    grid-column: 2 span;
    display: flex;
    justify-content: center;
}
.HL-box-3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
}
.HL-head{   
    font-size: 130%;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-weight: 600; 
    display: flex;
    align-items: flex-end;
}
.HL-para{
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: #636963;
}

.HL-box-L{
    justify-content: flex-end;
    text-align: right;
}
.HL-box-L .HL-head{
    display: flex;
    justify-content: flex-end;
} */

#highlights{
    background-color: #e1ebdcff;;
    border: 2px solid green;
}
.HL-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 3%; */
    padding: 3%;
    /* #e1ebdcff; */
    /* background-color: #e1ebdcff; */
}
.HL-box{    
    /* border : solid;  */
    /* max-width: 900px; */
    flex-basis: 600px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 4px;
    justify-content: start;
}
.HL-icon img{
    width: 50px;
}

.HL-box-3 img{
    border-radius: 7px;
}

.HL-icon{
    /* border: solid; */
    /* background-color: #00C805; */
    grid-row: 2 span;
    width: 100px;
    display: flex;align-items: center;justify-content: center;
    margin: 0px 10px;
}


.HL-head{font-size: 30px;font-weight: 500;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.HL-para{
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: #292b29;
}

.HL-box-L{
    text-align: right;
    justify-content: end;
}

.HL-box-3{width: 100%;display: flex;justify-content: center;}
.HL-box-3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
}




.highlights-heading{
    display: flex;justify-content: center;
    font-weight: 500;
    /* font-size: 1rem; */
    font-size: 210%;
    
    /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
    font-family: 'Bebas Neue', cursive;
    /* font-family:; */
    /* background-color: aliceblue; */
    /* margin-top: 3%; */
    padding-top: 3%;
}

.highlights-container{
    background-color: aliceblue;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    /* align-content:space-evenly; */
    justify-content: center;
}
.highlights-box{
    /* background-color: #00C805; */
    /* height: ; */
    width: 40%;
    min-height: 150px;
    /* border: 1px solid; */

    /* margin-right: ; */
    /* padding: 0.2rem; */
    display: flex;flex-direction: column;align-items: center;justify-content: flex-start;
}
.highlights-upper{
    justify-content: flex-end;
    /* border: 1px solid; */
}
.highlights-para{
    color: #636963;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-bottom: 20px;
}

.h-r{
    /* background-color: #00C805; */
    align-items: flex-end;
    /* justify-content: flex-end; */
    text-align: right;margin-right: 10%;
}

.h-l{
    /* background-color: #00C805; */
    align-items: flex-start;
    margin-left: 10%;
}



.highlights-head{
    font-size: 150%;
    font-weight: 500;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    /* font */
    margin: 10px;
}
.highlights-img{
    width: 100%;
    display: flex;justify-content: center;   
}
.highlights-img img{
  width: 100%;
  max-width: 800px;
  max-height: auto;    
}


/* about page */

#about{
    background-color: #292b29;
    /* background-color: rgb(0, 44, 21);; */
    /* background-color: whitesmoke; */
    border-top: #101010 1px solid;
    border-bottom: #101010 1px solid;
    /* height: 80vh; */
}

.container {
    width: 100%;
    max-width: 65em;
    margin: 0 auto;
    padding: 2rem 0;
    
}

h2 {
    font-size: 5rem;
}
.about-content{
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    margin-top: 1rem;
}
.content {
    display: flex;
    gap: 1rem;
    max-width: 32em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'Roboto'; */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: aliceblue;
    font-size: 1rem;
    word-spacing: .5rem;
    padding: 1rem 1rem 1rem 2rem;
}

.image {
    /* max-width: 20em; */
    max-width: 300px;
    padding: 1rem;
}

.image img {
    width: 100%;  
}

.heading {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.back-heading {
    font-size: 4rem;
    color: rgb(139 131 131 / 10%);
    /* font-family: 'Ubuntu'; */
    font-family: 'Bebas Neue', cursive;

    user-select: none;
}
.front-heading {
    position: absolute;
    font-size: 1.8rem;
    bottom: 0.5rem;
    left: 2rem;
    color: var(--primary-color);
    font-family: 'Bebas Neue', cursive;
    
}
@media screen and (width >= 48em){
    .back-heading{
        font-size: 7rem;
    } 
    .front-heading{
        font-size: 3rem;
        bottom: 1rem;
        left: 1.5rem;
    }
    .about-content{
        flex-direction: row;
    }
    .content{
        font-size: 1.2rem;
    }
}



/* TRACKS */


#tracks{
    display: flex;justify-content: center;
    background-color: var(--white);
}
#tracks-container{

    margin: 60px;
    width: 70%;
    /* height: 150vh; */
    /* border-top: #101010 1px solid; */
    border-bottom: #101010 1px solid;
    /* padding: 5%; */
    display: flex;justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

}

.tracks-heading{
    display: flex;align-items: center;flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 300;
    /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
    font-family: 'Bebas Neue', cursive;

}
.tracks-heading h3{
    font-size: 6rem;
    font-weight: 100;
    color: #292b29;
    color: rgb(136, 142, 133);
}

.flip-card {
    margin: 1%;
    background-color: transparent;
    width: 280px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-content{
    /* border: black solid 1px; */
  }

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

  .tracks-card-flip-sign{
    position: absolute;
    left: 86%;
    top: 5%;
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    /* display: flex; */
    /* background-color: #00d020; */
    /* justify-content: center;  */
    /* flex-direction: column; */
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #fff;
    color: black;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    display: flex; 
    flex-direction: column;align-items: center;
    justify-content: center;
  }
  
  .flip-card-front p{ 
    /* position: absolute; */
    /* top:16%; */
    font-size: 1.5rem;
    /* font-weight: 600; */
  }
  .flip-card-front img{
    /* position: absolute; */
    /* left: 8%; */
    /* top: 35%; */
  }


  /* Style the back side */
  .flip-card-back {
    /* background-color: dodgerblue; */
    background-color: #fff;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;

    color: rgba(0, 0, 0, 0.534);
    font-size: 0.6rem;
    transform: rotateY(180deg); 
    display: flex;justify-content: center;align-items: center;
  }






/* faq */

#faqs-section{
    /* background-color: #fff; */
    background-color: #292b29;

    box-sizing: border-box;
}
.extra{
    color: #00C805;
    font-size: 3.4rem;
}
.faqs-heading{
    /* margin-bottom: 2rem; */
    align-self: flex-start;
    margin-bottom: 4rem;
    /* margin-top: 2rem; */
}
.accordion{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content:center;
    /* color:aliceblue; */

}
.accordion-item{
    /* background-color: rgba(255,255,255, 0.6); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:1rem;
    width: 80vw;

    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: #00C805 1px solid;
   border-radius: 15px ;
   /* box-shadow: inset 0 0.01rem 0.2rem var(--primary-color); */

}
.accordion-link{
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* font-family: 'Ubuntu'; */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    /* border-bottom: 1px solid black; */
    cursor: pointer;
    overflow: hidden;
    padding: 1rem 0;
    /* color: var(--black); */
    color: #fff;
}
.accordion-link i{
    padding: 0.5rem;
    transition: all 0.3s ease-in;
}
.answer{

    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgba(38, 38, 38, 0.903);

    transition: all 0.3s ease-in;
}
.answer::before{
    content: "";
    width: 0.2rem;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--primary-color);
    transform: translateY(-50%);
}
.answer p{
    font-weight: 300;

    width: 100%;
    font-size: 1.0rem;
    /* font-family: Roboto; */
    padding: 1rem;
    color: #fff;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;

    /* color: var(--black); */
}
.open-accordian{
    max-height: 15rem;
}
.rotate-plus{
    transform: rotate(45deg);
}
.faq-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
/* @media screen and (width >= 48em){
    #question3, #question4{
        width: 100%;
        max-width: 62.4em;
    }
} */



#foot{

    background-color: aliceblue;
    
}







/* Variables */
/* Base */

.timeline-head{
    padding: 1% 0;
    z-index: 10;
    background-color: #2e2e2e;
    position: absolute;
    width: 100%;
    font-size: 170%;
    /* color: #101010; */
    font-family: 'Bebas Neue', cursive;

    display: flex;flex-direction: column;
    color: var(--primary-color);
    align-items: center;
}

#theTimeline {
    /* background-color: #e1ebdcff; */
    /* background-color: rgb(0, 44, 21); */
    /* border: #101010 solid; */
    /* align-items: center; */
    /* justify-content: center */
  }
.timeline-left{

}
.timeline-right{
    padding: 1%;

    background-color: #292b29;
    height: 70vh;
    /* overflow: scroll; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    font-size: 16px;
    /* padding: 10%; */
}

.timeline-right p {
    font-weight: 300;
    /* color: #fff; */
  }


  .timeline-right strong {
    font-weight: 600;
  }
  .timeline-right h1 {
    font-family: 'Saira', sans-serif;
    letter-spacing: 1.5px;
    color: white;
    font-weight: 400;
    font-size: 2.4%;
  }

  #timeline-content {
    margin-top: 50px;
    text-align: center;
    /* color:#00C805; */
  }
  /* Timeline */

  .timeline {
    border-left: 4px solid var(--primary-color);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    background: rgba(255, 255, 255, 0.03);
    color: rgba(255, 255, 255, 0.8);
    font-family: "Chivo", sans-serif;
    margin: 50px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    font-size: 1.03em;
    padding: 50px;
    list-style: none;
    text-align: left;
    font-weight: 100;
    max-width: 30%;
  }
  .timeline h1 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 100;
    font-size: 1.4em;
  }
  .timeline h2,
  .timeline h3 {
    font-family: "Saira", sans-serif;
    letter-spacing: 1.5px;
    font-weight: 400;
    font-size: 1.4em;
  }
  .timeline .event {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
    padding-bottom: 25px;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
  }
  /* .timeline .event:before,
  .timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
  } */
  .timeline .event:before {
    left: -217.5px;
    color: rgba(255, 255, 255, 0.4);
    content: attr(data-date);
    text-align: right;
    font-weight: 100;
    font-size: 0.9em;
    min-width: 120px;
    font-family: "Saira", sans-serif;
  }
  /* .timeline .event:after {
    box-shadow: 0 0 0 4px #004ffc;
    left: -57.85px;
    background: #313534;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
  } */
  
  /* ===== MEDIA QUERIES=====*/
  
  @media screen and (max-width: 570px) {
    .timeline {
      /* border-left: 4px solid #004ffc; */
      border-bottom-right-radius: 20px;
      border-top-right-radius: 20px;  
      line-height: 1.8em;
      font-size: 0.7em;
      padding: 50px;
      max-width: 60%;
    }
  
    
    /* .timeline .event:after {
      box-shadow: 0 0 0 4px #004ffc;
      left: -57.85px;
      background: #313534;
      border-radius: 10%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    } */
  }
  
  /* Dates are before(left) the event-detail */
  @media screen and (min-width: 570px) {
    .timeline .event:before,
    .timeline .event:after {
      position: absolute;
      display: block;
      top: 0;
    }
    .timeline .event:after {
      box-shadow: 0 0 0 4px var(--primary-color);
      left: -57.85px;
      background: #313534;
      border-radius: 50%;
      height: 11px;
      width: 11px;
      content: "";
      top: 5px;
    }
  }
  