/* 320 x 568 */

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}


#home-section{
    /* background-color: #00C805; */
}
#home{
    /* background-color: #00c8073f; */
    height: 520px;
    width: 100%;
    display: flex;justify-content: center;align-items: center;
    overflow: hidden;
    position: absolute;
    top: 60px;
}
#home-center{   
    display: flex;
    align-items: center;
    position: relative;
    overflow: visible;
    transform: translate(-15%,0%);
}


#home-center-image{
    width: clamp(250px,40vw,400px);
}


.home-upper-text{
    position: absolute;
}
.home-u-text-1{
    position: absolute;
    transform:translate(-2%,-900%);
    font-size:  clamp(11px,2vw,20px);
    width: 100vw;
    font-family: 'Bebas Neue', cursive;
}


.home-u-text-2{
    z-index: 20000;
    position: absolute;
    color: #00d029;
    width: 200px;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-weight: 900;
    transform:translate(5%,-800%);
    font-size:  clamp(11px,2vw,20px);

    /* font-size: 4vw; */
}
@media screen and (max-width: 480px){
    .home-u-text-1{
        transform:translate(5vw,-900%);
    }
    .home-u-text-2{
        transform:translate(15%,-800%);

    }
}

.home-l-text{
    position: absolute;
    transform:translate(280%,+270%);
    font-family: 'Bebas Neue', cursive;
    font-size: clamp(16px,2.5vw,25px);
}




.home-center-text{
    position: absolute;width: 100%;
    font-family: 'Bebas Neue', cursive;
    font-size:  clamp(50px,8vw,80px);
    transform:translate(32%,30%);
    display: flex;
    z-index: 3;color: aliceblue;
}
.home-text-2{
    margin-left: 3%;color: black;
}


/* height is set to same as heiht of home by js  */
#playArea {
    /* position: absolute; */
    background: #e1ebdcff; 
    z-index: 0;
    /* overflow: hidden; */
 }
 .playAreaC{
    margin-top: 60px;
    /* border: 1px solid; */
 }


.home-register{
    position: absolute;
    bottom: 20px;
    font-size: 20px;
    display: flex;
    font-weight: 500;
    /* justify-content: center; */
    /* width: 100%; */
}

.home-register div{
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid;   
    display: flex;  
    justify-content: center;align-items: center;
    /* background-color: rgb(255, 255, 255); */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}




 /* ayush */
 
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Roboto);

:root{
    --white: #e1ebdcff;
    --black:#101010;
    --opacity-green:rgb(24, 186, 48);
    --primary-color:#00C805;
}
body{
    /* background-color:var(--white); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}
html {
    scroll-behavior: smooth;
    /* overflow-x: hidden; */
}

/* p::selection{
    color: red;
} */

/* nav  */

#nav{
    /* position: fixed; */
    z-index: 1000;
    overflow: hidden;
}
.nav-container{
    background-color: aliceblue;
    height: 60px;
    z-index: 99;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid;
}

.nav-slide{
    position: fixed;
    right: 0;
    height: 100vh;
    background-color: aliceblue;
    width: 50vw;
    transition: 0.4s;
    /* display: none; */
    transform: translateX(50vw);
    z-index: 99999;
    margin-top: 60px;    

    display: flex;flex-direction: column;
    /* justify-content: flex-start; */
    align-items: center;
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 50px;
}
a{
    text-decoration: none;
    color: #101010;    

}

.nav-slide.is-active{
    /* display: flex; */
    transform: translateX(0vw);
}

.nav-menu{
    position: absolute;
    left: 200px;
    display: none;
    justify-self: center;
    /* background-color: #636963; */
    /* width: 100%; */
    align-items: end;
    justify-content: flex-end;
    /* align-content: space-between; */
    /* flex-direction: row; */
}
.nav-menu div{
    /* border: 1px solid; */
    margin: 0 5px;
}

.nav-menu a {
    color: var(--black);
    cursor: pointer;
    /* font-size: 2vw; */
    /* margin: 0.7rem 1rem 0.4rem; */
    /* font-size: 1.4rem; */
    text-decoration: none;
    font-family: "Bebas Neue", cursive;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in;
    padding: 0.3rem;
  }

.nav-menu a:hover {
    border-color: var(--primary-color);
  }


.nav-logo{
    /* background-color: #00C805; */
    border-right: 1px black solid;
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.nav-ham{
    /* justify-self: flex-end; */
    /* display: block; */
    position: relative;
    margin-right: 15px;

}
.nav-ham span{
    display: block;
    width: 33px;
    height: 4px;
    background-color: black;
    margin-bottom: 5px;
    position: relative;
    z-index: 1;
    transform-origin: 0 0;
    transition: 0.4s;
}

.nav-ham.is-active:hover span{
    background-color: #00d029;
}



.nav-ham span:nth-child(2){
    transition: 0.8s ease-in-out;
}

.nav-ham.is-active span:nth-child(1){
    transform:translate(0px,-2px) rotate(45deg)
}

.nav-ham.is-active span:nth-child(2){
    opacity: 0;
    /* background-color: #00C805; */
    transform:translate(15px);
    /* background-color: #101010; */
}
.nav-ham.is-active span:nth-child(3){
    transform:translate(-3px,3px) rotate(-45deg)
}

@media(min-width:768px){
    .nav-ham{
        display: none;
    }
    .nav-menu{
        display: flex;
    }
}











/* /highlights  */
/* .HL-container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: 50% 50%;
}
.HL-icon{
    height: 100%;
    grid-row: 2 span;
    margin: 15px;       
}

.HL-box{
    border : solid 1px;
    display: grid;  
    grid-template-columns: auto auto;
    margin: 4%;
    justify-content: left;
}

.HL-icon img{
    width: 100%;
    max-width: 50px;
    height: auto;    
}

.HL-box-3{
    grid-column: 2 span;
    display: flex;
    justify-content: center;
}
.HL-box-3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
}
.HL-head{   
    font-size: 130%;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    font-weight: 600; 
    display: flex;
    align-items: flex-end;
}
.HL-para{
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: #636963;
}

.HL-box-L{
    justify-content: flex-end;
    text-align: right;
}
.HL-box-L .HL-head{
    display: flex;
    justify-content: flex-end;
} */

#highlights{
    background-color: #e1ebdcff;;
    border: 2px solid green;
}
.HL-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* margin: 3%; */
    padding: 3%;
    /* #e1ebdcff; */
    /* background-color: #e1ebdcff; */
}
.HL-box{    
    /* border : solid;  */
    /* max-width: 900px; */
    flex-basis: 600px;
    display: grid;
    grid-template-columns: auto auto;
    padding: 4px;
    justify-content: start;
}
.HL-icon img{
    width: 50px;
}

.HL-box-3 img{
    border-radius: 7px;
}

.HL-icon{
    /* border: solid; */
    /* background-color: #00C805; */
    grid-row: 2 span;
    width: 100px;
    display: flex;align-items: center;justify-content: center;
    margin: 0px 10px;
}


.HL-head{font-size: 30px;font-weight: 500;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
}
.HL-para{
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: #292b29;
}

.HL-box-L{
    text-align: right;
    justify-content: end;
}

.HL-box-3{width: 100%;display: flex;justify-content: center;}
.HL-box-3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
}




.highlights-heading{
    display: flex;justify-content: center;
    font-weight: 500;
    /* font-size: 1rem; */
    font-size: 210%;
    
    /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
    font-family: 'Bebas Neue', cursive;
    /* font-family:; */
    /* background-color: aliceblue; */
    /* margin-top: 3%; */
    padding-top: 3%;
}

.highlights-container{
    background-color: aliceblue;
    min-height: 80vh;
    display: flex;
    flex-wrap: wrap;
    /* align-content:space-evenly; */
    justify-content: center;
}
.highlights-box{
    /* background-color: #00C805; */
    /* height: ; */
    width: 40%;
    min-height: 150px;
    /* border: 1px solid; */

    /* margin-right: ; */
    /* padding: 0.2rem; */
    display: flex;flex-direction: column;align-items: center;justify-content: flex-start;
}
.highlights-upper{
    justify-content: flex-end;
    /* border: 1px solid; */
}
.highlights-para{
    color: #636963;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    margin-bottom: 20px;
}

.h-r{
    /* background-color: #00C805; */
    align-items: flex-end;
    /* justify-content: flex-end; */
    text-align: right;margin-right: 10%;
}

.h-l{
    /* background-color: #00C805; */
    align-items: flex-start;
    margin-left: 10%;
}



.highlights-head{
    font-size: 150%;
    font-weight: 500;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    /* font */
    margin: 10px;
}
.highlights-img{
    width: 100%;
    display: flex;justify-content: center;   
}
.highlights-img img{
  width: 100%;
  max-width: 800px;
  max-height: auto;    
}


/* about page */

#about{
    background-color: #292b29;
    /* background-color: rgb(0, 44, 21);; */
    /* background-color: whitesmoke; */
    /* border-top: #101010 1px solid; */
    /* border-bottom: #d1b2b2 1px solid; */
    /* height: 80vh; */
}

.container {
    width: 100%;
    max-width: 65em;
    margin: 0 auto;
    padding: 2rem 0;
    
}

h2 {
    font-size: 5rem;
}
.about-content{
    display: flex;
    gap: 1rem;
    flex-direction: column-reverse;
    margin-top: 1rem;
}
.content {
    display: flex;
    gap: 1rem;
    max-width: 32em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-family: 'Roboto'; */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    color: aliceblue;
    font-size: 1rem;
    word-spacing: .5rem;
    padding: 1rem 1rem 1rem 2rem;
}

.image {
    /* max-width: 20em; */
    max-width: 300px;
    padding: 1rem;
}

.image img {
    width: 100%;  
}

.heading {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
}
.back-heading {
    font-size: 4rem;
    color: rgb(139 131 131 / 10%);
    /* font-family: 'Ubuntu'; */
    font-family: 'Bebas Neue', cursive;

    user-select: none;
}
.front-heading {
    position: absolute;
    font-size: 1.8rem;
    bottom: 0.5rem;
    left: 2rem;
    color: var(--primary-color);
    font-family: 'Bebas Neue', cursive;
    
}
@media screen and (width >= 48em){
    .back-heading{
        font-size: 7rem;
    } 
    .front-heading{
        font-size: 3rem;
        bottom: 1rem;
        left: 1.5rem;
    }
    .about-content{
        flex-direction: row;
    }
    .content{
        font-size: 1.2rem;
    }
}



/* TRACKS */


#tracks{
    display: flex;justify-content: center;
    background-color: var(--white);
}
#tracks-container{

    margin: 60px;
    width: 70%;
    /* height: 150vh; */
    /* border-top: #101010 1px solid; */
    border-bottom: #101010 1px solid;
    /* padding: 5%; */
    display: flex;justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;

}

.tracks-heading{
    display: flex;align-items: center;flex-direction: column;
    margin-bottom: 2rem;
    width: 100%;
    font-weight: 300;
    /* font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif; */
    font-family: 'Bebas Neue', cursive;

}
.tracks-heading h3{
    font-size: 6rem;
    font-weight: 100;
    color: #292b29;
    color: rgb(136, 142, 133);
}

.flip-card {
    margin: 1%;
    background-color: transparent;
    width: 280px;
    height: 400px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card-content{
    /* border: black solid 1px; */
  }

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */

  .tracks-card-flip-sign{
    position: absolute;
    left: 86%;
    top: 5%;
  }

  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    /* display: flex; */
    /* background-color: #00d020; */
    /* justify-content: center;  */
    /* flex-direction: column; */
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #fff;
    color: black;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    display: flex; 
    flex-direction: column;align-items: center;
    justify-content: center;
  }
  
  .flip-card-front p{ 
    /* position: absolute; */
    /* top:16%; */
    font-size: 1.5rem;
    /* font-weight: 600; */
  }
  .flip-card-front img{
    /* position: absolute; */
    /* left: 8%; */
    /* top: 35%; */
  }


  /* Style the back side */
  .flip-card-back {
    /* background-color: dodgerblue; */
    background-color: #fff;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;

    color: rgba(0, 0, 0, 0.534);
    font-size: 0.6rem;
    transform: rotateY(180deg); 
    display: flex;justify-content: center;align-items: center;
  }






/* faq */

#faqs-section{
    /* background-color: #fff; */
    background-color: #292b29;

    box-sizing: border-box;
}
.extra{
    color: #00C805;
    font-size: 3.4rem;
}
.faqs-heading{
    /* margin-bottom: 2rem; */
    align-self: flex-start;
    margin-bottom: 4rem;
    /* margin-top: 2rem; */
}
.accordion{
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content:center;
    /* color:aliceblue; */

}
.accordion-item{
    /* background-color: rgba(255,255,255, 0.6); */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding:1rem;
    width: 80vw;

    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: #00C805 1px solid;
   border-radius: 15px ;
   /* box-shadow: inset 0 0.01rem 0.2rem var(--primary-color); */

}
.accordion-link{
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* font-family: 'Ubuntu'; */
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
    /* border-bottom: 1px solid black; */
    cursor: pointer;
    overflow: hidden;
    padding: 1rem 0;
    /* color: var(--black); */
    color: #fff;
}
.accordion-link i{
    padding: 0.5rem;
    transition: all 0.3s ease-in;
}
.answer{

    width: 100%;
    max-height: 0;
    overflow: hidden;
    position: relative;
    background-color: rgba(38, 38, 38, 0.903);

    transition: all 0.3s ease-in;
}
.answer::before{
    content: "";
    width: 0.2rem;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--primary-color);
    transform: translateY(-50%);
}
.answer p{
    font-weight: 300;

    width: 100%;
    font-size: 1.0rem;
    /* font-family: Roboto; */
    padding: 1rem;
    color: #fff;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;

    /* color: var(--black); */
}
.open-accordian{
    max-height: 15rem;
}
.rotate-plus{
    transform: rotate(45deg);
}
.faq-section{
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
/* @media screen and (width >= 48em){
    #question3, #question4{
        width: 100%;
        max-width: 62.4em;
    }
} */


.TL-head{display: flex;justify-content: center;
    font-size: 70px;
    background-color: #292b29;
    font-family: 'Bebas Neue', cursive;
    color: #00d029;
    padding-top: 1%;
}
@media screen and (max-width: 768px) {
    .TL-head{    color: #636963;
    font-family: Helvetica, sans-serif;
        font-size: 40px;
    }
}

#TL-main{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;justify-content: center;
    /* align-content: space-evenly; */
    background-color: #292b29;
    padding: 3%;
}

.TL-switch{
    font-size: 65px;
    margin-right:6%;
    color: #636963;
    /* background-color: #bbb; */
}

.TL-switch div{
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
}


@media screen and (max-width: 1006px) {

    .TL-switch{
        /* background-color: #00C805; */
        display: flex;
        width: 100%;
        justify-content: center;margin-right: 0;
        /* font-size: 50px; */
        border-bottom: #00C805 2px solid;
        
    }
    .TL-switch div{
        margin: 0 2%;
        
    }

}




.timeline-W{

    display: none;

    font-family: Helvetica, sans-serif;
  
    max-width: 800px;
    /* position: absolute; */
  
    width: 100%;
    height: 500px;
  
    overflow-y: scroll;
    overflow-x: hidden;

    /* border: #00C805 1px solid; */
  } 
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    /* background-color: #161716; */
    position: relative;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* TL-container around TL-content */
  .timeline-W .TL-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .timeline-W .TL-container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #00d029 ;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the TL-container to the TL-left */
  .timeline-W .TL-left {
    left: 0;
  }
  
  /* Place the TL-container to the TL-right */
  .timeline-W .TL-right {
    left: 50%;
  }
  
  /* Add arrows to the TL-left TL-container (pointing TL-right) */
  .timeline-W .TL-left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the TL-right TL-container (pointing TL-left) */
  .timeline-W .TL-right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for TL-containers on the TL-right side */
  .timeline-W .TL-right::after {
    left: -16px;
  }
  
  /* The actual TL-content */
  .timeline-W .TL-content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    /* width: 300px; */
  }
  .timeline-W .TL-content p{
    /* background-color: #00d029; */
    margin: 0;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
  /* Place the timelime to the TL-left */
  .timeline-W .timeline::after {
      left: 31px;
    }
  
  /* Full-width TL-containers */
  .timeline-W .TL-container {
      width: 100%;
      padding-left: 70px;
      padding-right: 25px;
    }
  
  /* Make sure that all arrows are pointing TL-leftwards */
  .timeline-W .TL-container::before {
      left: 60px;
      border: medium solid white;
      border-width: 10px 10px 10px 0;
      border-color: transparent white transparent transparent;
    }
  
  /* Make sure all circles are at the same spot */
  .timeline-W .TL-left::after, .timeline-W .TL-right::after {
      left: 15px;
    }
  
  /* Make all TL-right TL-containers behave like the TL-left ones */
  .timeline-W .TL-right {
      left: 0%;
    }
  }
  
  
  .timeline-active{
    display: block;
  }

  .TL-day-active{
    color: #00d029;
    transition: 0.3s;
  }






  
.footer .container {
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
    max-width: 1170px;
    margin: auto;
}

.footer .row {
    display: flex;
    flex-wrap: wrap;
}

.footer ul {
    list-style-type: none;
}

.footer {
    background-color: #24262b;
    padding: 70px 0px;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    font-weight: 500;
    color: #ffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #00d029;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:first-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    color: #bbb;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #fff;
    padding-left: 10px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: (255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #fff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #fff;
}


/* responsive */
@media (max-width:767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
}

@media (max-width:574px) {
    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}






.venue-container {
    display: flex;
    width: 280px;
    margin-left: 20px;
  }
  
  .venue-container a {
    text-decoration: none;
  }
  
  .about-venue {
    position: relative;
    margin: 0 2%;
    display: flex;align-items: center;
    width: 150px;
    height: 50px;
    box-shadow: 0 0 4px 2px rgba(0, 200, 5, 0.3);
    border-radius: 0.4rem;
    transition: all 0.5s ease-in-out;
  }
  .about-venue:hover {
    background-color: rgba(106, 128, 107, 0.1);
  }

  .about-venue i {
    font-size: 25px;
    position: absolute;
    right: 7px;
    color: rgb(0, 200, 5);
  }
  .about-venue p {
    color: white;
    font-weight: 100;
    font-size: smaller;
    font-family: "Capsule Sans Display",system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;
  }
  
  .about-venue span {
    font-family: Helvetica, sans-serif;
    color: #00c805;
    font-weight: bold;
  }
  .about-venue-content {
    text-align: right;
    margin-left: 7px;
  }
  
.about-one{
    margin-left: 12px;
}





/* Used Flex wrap for responsivness */


.sponsors-heading {
    text-align: center;
    margin-bottom: 60px;
}

.sponsors-heading::before {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #00d029;
    /* bottom: 0; */
    top: 115px;
    left: calc(50% - 25px);
}

.title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 10px;
}

.sponsor-desc {
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}

.flex-fill {
    flex: 1 1 auto !important;
}

.dropdown-divider {
    height: 0;
    margin: 0.5rem 0;
    overflow: hidden;
    border-top: 1px solid rgba(0, 0, 0, .15);
}

.diamond-heading {
    color: #6c757d !important;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.sponsor-title {
    height: 50px;
}

.d-flex {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
}

.dev-git {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.supporters-logo {
    margin-bottom: 50px;
}

.supporters-logo img {
    max-width: 250px !important;
    transition: transform 1s;
}

.supporters-logo img:hover{
    transform: scale(1.1);
}

.polygon-divi {
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gold-sponsors{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    /* margin-bottom: -70px; */
}

.bronze-sponsors img{
    height: 200px;
    width: 200px;
}
